* {
    margin: 0;
    padding: 0;
}

.main_block {
    width: 100%;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.content_block {
    max-width: 1440px;
}

.blue_block {
    width: 100%;
    height: 678px;
    position: relative;
    background-color: #CBECFF;
}

.white_block {
    position: relative;
    height: 1149px;
    background-color: #FFFFFF;
}

.languages {
    position: absolute;
    display: flex;
    gap: 15px;
    top: 24px;
    right: 15.5%;
}

.language {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
}

.ru {
    border-radius: 50%;
    background: #F5F5F5;
    color: #0962E8;
}

.en {
    color: #29374E;
}

.hand_phone {
    width: 43%;
    height: 555px;
    position: absolute;
    top: 59px;
    right: 11%;
    overflow: hidden;
    z-index: 0;
}

.hand_phone_img {
    width: 100%;
    position: absolute;
}

.main_text {
    width: 26.6%;
    position: absolute;
    left: 14.3%;
    top: 122px;
    overflow: hidden;
}

.main_text_lg {
    width: 100%;
    display: flex;
    gap: 10px;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 14px;
}

.main_text_sm {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 38px;
}

.fin {
    color: #29374E;
}

.kit {
    width: 31.7%;
    height: 80px;
    color: #0962E8;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
}

.demo_btn {
    width: 41.8%;
    height: 52px;
    background-color: #0962E8;
    border-radius: 8px;
    border: none;
}

.demo_text {
    font-size: 18px;
    color: #FFFFFF;
}

.card_block {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    top: 595px;
    gap: 20px;
    z-index: 1;
}

.card {
    width: 14%;
    height: 66px;
    position: relative;
    padding: 22px 20px 30px 20px;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.card_text {
    height: 66px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #29374E;
}

.card_icon {
    width: 39px;
    height: 39px;
    position: absolute;
    left: 76.3%;
    top: 12.7%;
    background-color: #EFF9FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_header_text {
    font-weight: 500;
    font-size: 38px;
    line-height: 49px;
    color: #29374E;
}

.key_products_text {
    width: 100%;
    height: 98px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    text-align: center;
}

.blue_mark {
    color: #0962E8;
}

.lg_card_block {
    width: 100%;
    position: absolute;
    top: 342px;
}

.grid_elem {
    width: 34.8%;
}

.big_card {
    height: 328px;
    position: relative;
    background-color: #E9F6FF;
    border-radius: 30px;
}

.big_card_content {
    height: 100%;
    position: relative;
    margin: 8% 6.1% 0 9.1%;
}

.card_main_text {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 12px;
}

.big_grid {
    width: 100%;
    gap: 20px;
    top: 336px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_sub_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.img_box {
    width: 51.3%;
    height: 88.7%;
    position: absolute;
    top: 2.1%;
    right: 0;
    background-size: cover;
}

.img_box_strategies {
    background-image: url("../images/strategies.svg");
}

.img_box_circle {
    background-image: url("../images/circle.svg");
}

.card_img {
    width: 100%;
    object-fit: cover;
}

.bank_value_text {
    width: 71.1%;
    height: 268px;
    position: absolute;
    top: 792px;
    display: flex;
    gap: 70px;
}

.mobile_app_text {
    margin-top: 21px;
    margin-bottom: 37px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1E2837;
}

.icons_block {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
}

.icon_block {
    width: 46%;
    height: 140px;
}

.icon_block_content {
    position: absolute;
}

.bank_value_icon {
    width: 39px;
    height: 39px;
    background-color: #EFF9FF;
    border-radius: 50%;
}

.icon {
    font-weight: 600;
    font-size: 20px;
    color: #0962E8;
}

.lg_icon {
    font-weight: 600;
    position: absolute;
    top: -5px;
    left: -10px;
    font-size: 40px;
    color: #0962E8;
}

.mt_114 {
    margin-top: 114px;
}

@media (min-width: 1440px) {
    .main_block {
        display: flex;
        justify-content: center;
    }

    .content_block {
        width: 1440px;
    }
}

@media (max-width: 1440px) {
    .language, .mobile_app_text, .card_sub_text {
        font-size: 1vw;
    }

    .main_text_lg {
        font-size: 4.4vw;
    }

    .main_text_sm {
        font-size: 1.5vw;
    }

    .demo_text {
        font-size: 1.25vw;
    }

    .lg_icon {
        font-size: 2.8vw;
    }

    .card_main_text, .icon {
        font-size: 1.4vw;
    }

    .card_text {
        font-size: 1.1vw;
    }

    .second_header_text {
        font-size: 2.6vw;
    }

    .card_icon {
        width: 16.7%;
        height: 2.8vw;
    }

    .big_card {
        height: 22.8vw;
    }

    .bank_value_icon {
        width: 21.1%;
        height: 2.8vw;
    }

    .kit {
        height: 5.5vw;
    }
}